# See https://github.com/eXtalionLab/docker-backup

###> config ###
backupDir='backups'
dockerDbServiceName='db'
# Use local image to skip download
dockerImgToBackupVolumes='alpine'
dockerVolumesDir='docker_volumes'
# Allow types: custom, mariadb, mongo, mysql, postgresql
dbType='mariadb'
envFile='.env'
###< config ###

###> files/volumes to backup ###
filesToBackup=( \
    "${envFile}" \
    'app_bind_data/' \
)
filesToExclude=( \
    "${dockerVolumesDir}/example_app_volume_data/*.log" \
)
# Remember to prefix volumes with docker-compose project name
volumesToBackup=( \
    'example_app_volume_data' \
)
###< files/volumes to backup ###

###> borg ###
export BORG_REPO='backups/app'
export BORG_PASSPHRASE='Change_me!'
###< borg ###
